/* Icons */

@import "entypo";

[class^="icon-"] a:before,
[class*=" icon-"] a:before,
[class^="icon-"] a:after,
[class*=" icon-"] a:after,
i[class^="icon-"],
i[class*=" icon-"] {
    font-family: "#{$icons}";
    position:absolute;
    text-decoration:none;
    zoom: 1;
}

i[class^="icon-"],
i[class*=" icon-"] {
    display: inline-block;
    position: static;
    min-width: 20px;
    margin: 0 5px;
    text-align: center;
}

@function match($list, $icon) {
    @each $item in $list {
        $index: index($item, $icon);
        @if $index { 
            $return: if($index == 1, 2, $index);
            @return nth($item, $return); 
        }
    }
    @return false;
}

@mixin icon($icon) {
    .#{$icon} {
        &.icon-left a:before, &.icon-right a:after {
            content: "#{match($entypo-icons, $icon)}";
            height: inherit;
        }
    }
    i.#{$icon}:before {
        content: "#{match($entypo-icons, $icon)}";
        height: inherit;
    }
}