/* Fontfaces */

//- Import Google Web Fonts or TypeKit
//
// Sample: @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
// Store fonts in fonts directory if serving ourselves

//- Build font-faces using the template below
//
// Sample:
// @font-face {
//    font-family: 'PatronBold';
//    src: url('fonts/patron_bold_v1001-webfont.eot');
//    src: url('fonts/patron_bold_v1001-webfont.eot?#iefix') format('embedded-opentype'),
//         url('fonts/patron_bold_v1001-webfont.woff') format('woff'),
//         url('fonts/patron_bold_v1001-webfont.ttf') format('truetype'),
//         url('fonts/patron_bold_v1001-webfont.svg#PatronBold') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}

// Set local icon font - directory in fonts
@font-face {
	font-family: '#{$icons}';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/icons/#{$icons}.eot);
	src: url('../fonts/icons/#{$icons}.eot?#iefix') format('ie9-skip-eot'),
		 url('../fonts/icons/#{$icons}.woff') format('woff'),
		 url('../fonts/icons/#{$icons}.ttf')  format('truetype');
}


//- Create font stacks using the template below, include them by using @include fontFamilyName(); in CSS
//
//  Sample:
//  @mixin fontFamilyName() {
//		font-family: 'fontFaceFamilyName', sans-serif;
//		font-weight: normal;
//  }

//- FONT BASES
    $base-line-height: 18px;
    $font-unit: if($relative-font-sizing, 1em, $base-font-size);
    @include establish-baseline();

// Use: @include adjust-font-size-to(14px) See: http://compass-style.org/reference/compass/typography/vertical_rhythm/ 