// Other Global Tools
html * {
    @include box-sizing(border-box);
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust:none;
}

body {
    @include respond(all-phones) {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        width: 100%;
        min-width: 0;
    }
    -webkit-backface-visibility:(hidden); // Fixes Chrome 1px shift rendering issue on CSS3 transitions.
}

html, body {
    height: 100%;
}

.fixed {
    position: fixed;
    @include respond(portrait-tablets) {
        position: relative !important;
    }
}

// Tools
////////////////////////////////////////////////////////
.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

//- CLEARFIX FALLBACK - Use: <div class="clear"></div> after floated elements if clearfix class fails
.clear {
    clear: both;
}