// Typography
h1, p {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color: $white;
}

h1 {
	@include rem('font-size', 56px);
	@include rem('line-height', 64px);
	font-weight: 800;
}

p {
	@include rem('font-size', 18px);
	@include rem('line-height', 28px);
	@include rem('margin-bottom', 15px);
	font-weight: 200;
}

// Links
a {
	text-decoration: none;
	color: darken($blue, 25);
	@include rem('padding-bottom', 2px);
	@include transition-property(color);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in);

	&:hover {
		color: darken($blue, 35);
	}
}